{% extends "base.html" %}

{% block contenido %}
<section class="contacto">
    <!-- Dirección a la izquierda -->
    <div class="direccion">
        <h2>Contacto</h2>
        <p>José Ángel Castaño Lozano</p>
        <p>Fuentes de León (Badajoz)</p>
        <p>Calle Fernando Zamacola</p>
        <p>CP 06280</p>
        <p>635487063</p>
    </div>

    <!-- Mapa de Google Maps a la derecha -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3141.10511735197!2d-6.544197125715805!3d38.06793299522145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd116666c5c94339%3A0x6d83b7da7370922f!2sC.%20Fernando%20Zamacola%2C%2025%2C%2006280%20Fuentes%20de%20Le%C3%B3n%2C%20Badajoz!5e0!3m2!1ses!2ses!4v1741337001910!5m2!1ses!2ses"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</section>
{% endblock %}
