{% extends "base.html" %}

{% block contenido %}
    <h2>Nuestros Servicios</h2>
    <p>Cortes de cabello, afeitado clásico, tintes y más.</p>

    <div class="cuadro-precios">
        <h3><span class="blanco">Nuestros</span> <span class="negro">Precios</span></h3>
        <ul>
            <li><span>Corte de pelo</span> <span>28 €</span></li>
            <li><span>Arreglo de barba</span> <span>26 €</span></li>
            <li><span>Corte de pelo + Arreglo barba</span> <span>48 €</span></li>
            <li><span>Corte de niño hasta 6 años</span> <span>18 €</span></li>
            <li><span>Corte de niño hasta 12 años</span> <span>21 €</span></li>
        </ul>
    </div>
{% endblock %}

